.lists {
    span{
        margin-right: 30px;
        border: 1px solid;
        padding: 5px 15px;
        border-radius: 20px;
        background-color: lightgray;
        border: none;
    }

}
.names{
    text-decoration: none;
 }
